var config = {};

config.watson = {
    username: 'YOUR_USERNAME_HERE',
    password: 'YOUR_PASSWORD_HERE',
    version: 'v2'
};

config.spotify = {
    client_id: 'eab51140b34a488cab959a8f75b74563', // Your client id
    client_secret: '17232c3b0e7f4c3596c4d769f4e77589' // Your client secret
};

module.exports = config;
