var config = {};

var port = process.env.PORT || 8888; 

var my_uri = process.env.VCAP_SERVICES ? 'http://YOUR-APP-NAME.mybluemix.net' : 'http://localhost:' + port;

config.url = {
    port: port,
    uri: my_uri,
    redirect_uri: my_uri + '/callback'
};

config.watson = {
    username: 'GET_FROM_BLUEMIX_IN_STEP_2',
    password: 'GET_FROM_BLUEMIX_IN_STEP_2',
    version: 'v2'
};

config.spotify = {
    client_id: 'GET_FROM_SPOTIFY_IN_STEP_3', // Your client id
    client_secret: 'GET_FROM_SPOTIFY_IN_STEP_3' // Your client secret
};

config.genius = {
    CLIENT_ID: "GET_FROM_GENIUS_IN_STEP_4",
    CLIENT_SECRET: "GET_FROM_GENIUS_IN_STEP_4",
    CLIENT_ACCESS_TOKEN: "GET_FROM_GENIUS_IN_STEP_4"
};

module.exports = config;
