
body {
    background: #aaaaaa;
}


dd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

dd .active {
    color: blue;
    
}

dd .correct {
    color: green;
}

dd .wrong {
    color: red;
}