<!DOCTYPE html>
<html ng-app="quiz">
    <head>
        <!-- Latest compiled and minified CSS -->
        <!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="./style.css">
        <style>
         
        </style>
    </head>
    <body ng-controller="QuizController as quizlet">

        <h1>Que cantó esto?? (Who sings this?)</h1>
        <!-- spanish lyrics -->
        <div id="lyrics-foreign"> <h2><em>{{ quizlet.spanish }}</em></h2></div>
        <!-- English lyrics, only shows up after has been answered -->
        <div id="lyrics-english" ng-show="quizlet.hasAnswered"> <h2>{{ quizlet.english }} </h2></div>

        <!-- all the multiple choice options -->
        <div id="choices">
            <dl class="layout-stacked">
                <dd ng-class="{answer: quizlet.getAnswer(0)}">
                    <button ng-class="quizlet.getStyle(0)" ng-click="quizlet.selectChoice(0)">
                        {{ quizlet.choices[0].artist }}
                    </button>
                </dd>
                <dd ng-class="{answer: quizlet.getAnswer(1)}">
                    <button ng-class="quizlet.getStyle(1)"  ng-click="quizlet.selectChoice(1)">
                        {{ quizlet.choices[1].artist }}
                    </button> 
                </dd>
                <dd ng-class="{answer: quizlet.getAnswer(2)}">
                    <button ng-class="quizlet.getStyle(2)" ng-click="quizlet.selectChoice(2)">
                        {{ quizlet.choices[2].artist }}
                    </button> 
                </dd>
                <dd ng-class="{answer: quizlet.getAnswer(3)}">
                    <button ng-class="quizlet.getStyle(3)" ng-click="quizlet.selectChoice(3)">
                        {{ quizlet.choices[3].artist }}
                    </button> 
                </dd>
            </dl>
            <div>
                <!-- submit answer, turns into Next Question after answered -->
                <button ng-hide="quizlet.hasAnswered" ng-click="quizlet.checkCorrect()">Submit</button>
                <button ng-show="quizlet.hasAnswered" ng-click="quizlet.nextQuestion()">>Next Question</button>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>

        <!-- My JS -->
        <script type="text/javascript" src="js/quiz.js"></script>
        <script type="text/javascript" src="js/lyrics.js"></script>
    </body>
    
</html>
